.container {
    display: flex;

    margin-bottom: 50px;
    padding: $gutter;

    background: rgba(#ffffff, 0.1);

    flex-wrap: wrap;
}

.main {
    background-color: $light-color;

    @media (min-width: $small + 1) {
        flex: 1 0 calc(100% - #{$col-size});

        padding: 0 $gap+5 $gap $gap;

        order: 3;
    }

    @media (max-width: $small) {
        flex: 1 0 100%;

        padding: $gap+5;

        order: 2;
    }

    p {
        text-align: justify;
    }
}